@charset "UTF-8";

body { font-family: 'Noto Sans Japanese', sans-serif;
}

body{
  margin:0;
}

.title{
  font-size: 20px;
  font-weight: bold;
  color: #EF8853;
  margin-top: 10px;
  margin-bottom: 10px;
}

.logout{
  text-decoration:none;
  color:black;
}

.logout:hover{
  color:#959595	;
  cursor: pointer;
}


a{
  text-decoration: none;
  color:black;
}
a:hover{
  color:#959595	;
}


input[type=submit]{
  color:#fff;
  background-color:#EF8853;
  padding: 16px 5px 16px 5px;
  font-size: 20px;
  text-align: center;
  width:150px;
  text-indent: 0em;
  cursor:pointer;
  border-radius: 5px;
  display: inline-block;
  margin-right: 20px;
  margin-top: 20px;
  border:none;
}

input[type=button]{
  color:#fff;
  background-color:#EF8853;
  padding: 16px 5px 16px 5px;
  font-size: 20px;
  text-align: center;
  width:150px;
  text-indent: 0em;
  cursor:pointer;
  border-radius: 5px;
  display: inline-block;
  margin-right: 20px;
  margin-top: 20px;
  border:none;
}

input[type=submit]:hover{
  opacity: 0.8;
}

input[type=button]:hover{
  opacity: 0.8;
}*/



.site h1{
  margin:0;
}

.info2 span,.info3 span,.info4 span{
  color:#EF8853;
  font-weight: bold;
}

.kushitsu{
    font-size: 20px;
    text-align: center;
    padding: 30px 5px 30px 5px;
    border-radius: 5px;
    color: #EF8853;
    border: solid 2px #EF8853;
    width: 135px;
    margin-right: 10px;
    font-weight: bold;
    margin-top: 30px;
}

.kushitsu:hover{
  opacity: 0.8;
  padding: 28px 3px 28px 3px;
  border: solid 4px #EF8853;
}


/*ヘッダーメニュー*/

/*ボックスレイアウト*/

/*.side img{
  max-width: 200px;
  height: auto;
}*/





/*カラー
青#305187;
緑#00B49D;
空色 #577FC0;
*/





/*photoGallery3(2列目)*/
/*.photoGallery3{
  width:100%;
  height: 100px;
  margin:0;
  padding:0;
  margin-top:20px;
}*/


.return{
  float: left;
  text-align: center;
  bottom:0;
  padding:20px 20px 20px 20px;
  background-color: #EF8853;
  width: 160px;
  color:#ffffff;
  border-radius: 5px;
  font-size:17px;
  font-weight: bold;
}

.return_list{
  color:#fff;
  background-color:#EF8853;
  padding: 16px 5px 16px 5px;
  font-size: 20px;
  text-align: center;
  width:150px;
  text-indent: 0em;
  cursor:pointer;
  border-radius: 5px;
  display: inline-block;
  margin-right: 20px;
  margin-top: 20px;
}

.return_list:hover{
  opacity: 0.8;
}

.keiyaku_list{
  border:solid 2px #ddd;
}

.calender{
  line-height:20px;
}

.calender img{
  height:35px;
  width:35px;
  margin-left: 10px;
  vertical-align:top;
}

.reform_naiyo{
  height:100px;
  width:278px;
  font-size: 16px;
  vertical-align:top;
}

.reform_naiyo_span{
  color:black;
  font-size:16px;
  height:100px;
  width:300px;
  border:solid 2px #ddd;

}


.copyright p{
  color:#ffffff;
}



/*boxレイアウト*/
.boxA:after{
  content:"";
  display: block;
  clear:both;
}

.box1{
  float:left;
  width:auto;
}

.box2{
  float:right;
  width:auto;
}








/*フッターの形にする*/
.box6{
  background-color: #EF8853;
  padding-top:5px;
  padding-bottom: 5px;
  margin-top: 120px;

}

.boxA, .box6{
  padding-left:15px;
  padding-right: 15px;
}


/*ボックスの上下*/
.boxA{
  padding-top:20px;
  padding-bottom:10px;
}



/*全体の横幅を固定*/
.boxA-inner, .box6-inner{
  width:1140px;
  margin-left:auto;
  margin-right: auto;
}

/*boxAの下に羅線を挿入*/
.boxA{
  border-bottom:solid 2px #EF8853;
}

.boxB{
  margin-left:auto;
  margin-right: auto;
}

.boxB{
  width:1140px;
  margin-top: 50px;
}

/*ボックスBで横並び*/
.boxB:after{
  content:"";
  display: block;
  clear:both;
}
